# Set Git identity
git config --global user.name "Yash"
git config --global user.email "yash@example.com"

# Fix line endings warning
git config --global core.autocrlf true

# Link current branch 'main' to remote 'origin'
git push --set-upstream origin main

